<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PEN API Test Suite">
            <directory>./tests/pen-api/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/pen-api/</directory>
        </whitelist>
    </filter>
</phpunit>